<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>工资管理系统</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">


</head>

<body>
    <div id="main">
        <v-app>
            <v-navigation-drawer app>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="title">
                            企业工资管理系统
                        </v-list-item-title>
                        <v-list-item-subtitle>

                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-divider></v-divider>

                <v-list dense nav shaped>
                    <v-list-item-group mandatory Flat color="primary">
                        <v-list-item link @click="show('employee_info')">
                            <v-list-item-icon>
                                <v-icon dense>fa fa-user-circle</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>个人信息</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>


                        <v-list-item link @click="get_attendance">
                            <v-list-item-icon>
                                <v-icon dense>fa fa-map-marker</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>考勤信息</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link @click="get_bonus">
                            <v-list-item-icon>
                                <v-icon dense>fa fa-usd</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>津贴信息</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link @click="get_salary">
                            <v-list-item-icon>
                                <v-icon dense>fa fa-credit-card</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>工资信息</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>


                </v-list>


            </v-navigation-drawer>


            <v-app-bar app>
                欢迎登陆，{{ login_user }}
                <v-btn rounded right fixed color="orange darken-2" dark @click="logout">>
                    <v-icon dark left>mdi-arrow-left</v-icon>
                    log out
                </v-btn>

            </v-app-bar>

            <!-- Sizes your content based upon application components -->
            <v-content>
                <!-- 员工基本信息 -->
                <v-card v-if="display.employee_info">
                    <v-card-title>
                        个人基本信息
                        <v-col cols="12" sm="4">
                            <v-btn icon color="green" @click="info_refresh('employee_info')">
                                <v-icon>mdi-cached</v-icon>
                            </v-btn>
                        </v-col>
                        <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line
                            hide-details></v-text-field>
                    </v-card-title>
                    <v-data-table :headers="employee_headers" :items="employee_info" :search="search"></v-data-table>
                </v-card>

                <v-card v-if="display.bonus_info">
                    <v-card-title>
                        个人津贴信息
                        <v-col cols="12" sm="4">
                            <v-btn icon color="green" @click="info_refresh('bonus_info')">
                                <v-icon>mdi-cached</v-icon>
                            </v-btn>
                        </v-col>
                        <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line
                            hide-details></v-text-field>
                    </v-card-title>
                    <v-data-table :headers="bonus_headers" :items="bonus_info" :search="search"></v-data-table>
                </v-card>

                <v-card v-if="display.salary_info">
                    <v-card-title>
                        个人薪资信息
                        <v-col cols="12" sm="4">
                            <v-btn icon color="green" @click="info_refresh('salary_info')">
                                <v-icon>mdi-cached</v-icon>
                            </v-btn>
                        </v-col>
                        <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line
                            hide-details></v-text-field>
                    </v-card-title>
                    <v-data-table :headers="salary_headers" :items="salary_info" :search="search"></v-data-table>
                </v-card>

                <v-card v-if="display.attendance_info">
                    <v-card-title>
                        个人考勤信息
                        <v-col cols="12" sm="1">
                            <v-btn icon color="green" @click="info_refresh('attendance_info')">
                                <v-icon>mdi-cached</v-icon>
                            </v-btn>
                        </v-col>
                        <v-col cols="12" sm="1">
                            <v-btn icon color="red" @click="attendance_sign_in">
                                <v-icon>fa fa-level-up</v-icon>
                                今日签到
                            </v-btn>
                        </v-col>
                        <v-col cols="12" sm="2">
                            <v-btn icon color="blue" @click="attendance_sign_out">
                                <v-icon>fa fa-level-down</v-icon>
                                今日签退
                            </v-btn>
                        </v-col>
                        <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line
                            hide-details></v-text-field>
                    </v-card-title>
                    <v-data-table :headers="attendance_headers" :items="attendance_info" :search="search">
                    </v-data-table>
                </v-card>


            </v-content>

            <v-footer app>
                数据库管理系统-朱志成
            </v-footer>
        </v-app>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/index-user.js"></script>
</body>

</html>