<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业工资管理系统</title>

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- 移动设备优先 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/css/login.css">

    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="middle mx-auto h-85 w-75 wrap-login">
        <div class="row">
            <div class="col col-12 col-md-6">
                <img class="rounded img-fluid" src="../static/img/login.png" width="400px" height="200px" alt="web开发">
            </div>
            <div class="col col-12 col-md-6">
                <div class="login">
                    <div class="login-form-title">
                        <h5 class="title">工资管理系统</h5>
                    </div>

                    <form action="login" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="uid" id="uid" placeholder="UID">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Password">
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                            <label class="custom-control-label font-weight-light small" for="customCheck">记住用户名</label>
                        </div>

                        <br>
                        <button id="submitBtn" type="submit" class="btn btn-primary btn-block w-75 mx-auto">登 录</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>